Youâ€™re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over 
$
100
$100. Include the total value of the transaction as a new column in the dataframe.

In [1]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)
df_products = pd.DataFrame(products)

In [2]:
import pandas as pd

def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    
    df_product_trax = pd.merge(df_transactions, df_products,
    on=['product_id'], how='left')

    df_product_trax['total_value'] = df_product_trax['amount'] * df_product_trax['price']
    df_product_trax = df_product_trax[df_product_trax['total_value'] > 100]
    df_product_trax.drop(columns='price', axis=1, inplace=True)

    return df_product_trax

In [2]:
def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    
    df_product_trax = pd.merge(df_transactions, df_products, on=['product_id'], how='left')

    df_product_trax['total_value'] = df_product_trax['amount'] * df_product_trax['price']
    df_product_trax = df_product_trax[df_product_trax['total_value'] > 100]
    df_product_trax.drop(columns='price', axis=1, inplace=True)

    return df_product_trax

In [3]:
transactions_over_100(df_transactions, df_products)

   transaction_id  product_id  amount  total_value
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0

Other Solution

In [ ]:
def transactions_over_100(df_transactions, df_products):
    df_combined = df_transactions.merge(df_products, on="product_id")
    df_combined["total_value"] = df_combined["amount"] * df_combined["price"]
    df_combined = df_combined[df_combined["total_value"] > 100]
    del df_combined["price"]
    return df_combined